[Unit]
Description=Starts tmate session
PartOf=workers.target

[Service]
User=villager
Type=forking
ExecStart=/usr/local/sbin/session.sh %i
Restart=on-failure
ExecReload=/usr/local/sbin/session_restart.sh %i

[Install]
WantedBy=multi-user.target
