[Unit]
Description=Starts tmate session
PartOf=workers.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/pkill -9 -u villager-%i
ExecStartPre=/bin/su villager-%i -c "mkdir -p /tmp/devices/%i"
ExecStart=/bin/su villager-%i -c "/usr/bin/tmate -S /tmp/devices/%i/%i.sock new-session"
EnvironmentFile=/root/%i
Restart=on-failure

[Install]
WantedBy=multi-user.target
