[Unit]
Description=Starts tmate session
PartOf=workers.target

[Service]
EnvironmentFile=/root/data
User=villager
Type=forking
ExecStart=session.sh %i
Restart=on-failure
ExecReload=session_restart.sh %i

[Install]
WantedBy=multi-user.target
