@font-face {
  font-family: 'Uncracked';
  font-style: normal;
  src: url('uncracked-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  src: url('ShareTechMono-Regular.ttf') format('ttf');
}

body {
  background: url('bg.png');
  background-position: center;
  background-size: contain;
  color: white;
  font-family: 'Share Tech Mono';
}

/* Navigation bar */
.navbar-item img {
  max-height: none;
  width: 90px;
  max-width: 90px;
  height: auto;
  transform: rotate(5deg);
}

@media screen and (max-width: 480px) {
  .navbar-item img {
    width: 75px;
    max-width: 75px;
  }
}

.navbar, .navbar-item:hover, .navbar-link:hover {
  background-color: black !important;
}

.navbar-item, .navbar-link {
  color: #B7D8ED !important;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar-item:hover, .navbar-link:hover {
  color: #E15238 !important;
}

.navbar-burger {
  color: #E15238;
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #000000;
    margin-left: 16px;
  }
}

.hero-body {
  padding: 3rem 0rem !important;
}

.section-header {
  font-family: "Uncracked";
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #E15238;
  font-size: 48px;
  padding: 0px 0px 8px 4px;
  display: flex;
  text-shadow: 3px 1px 3px rgba(73,152,228, 0.4);
}

.content {
  background-color:rgba(0,0,0,0.75);
  padding: 32px 40px;
  border-left: 6px solid #B7D8ED;
  margin-bottom: 60px !important;
}

a {
  color: #B7D8ED;
}

a:hover {
  color: #E15238;
  text-decoration: line-through;
}

.about-text {
  color: white;
  font-size: 16px;
}

.content:hover .preloader {
  visibility: visible;
}

.preloader {
  width: 110px;
  height: 72px;
  margin-left: 12px;
  opacity: 0.6;
  visibility: hidden;
}

.preloader .line {
  width: 1.5px;
  height: 32px;
  background: #E15238;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1800ms infinite ease-in-out;
}

.preloader .line-1 { animation-delay: 300ms; }
.preloader .line-2 { animation-delay: 600ms; }
.preloader .line-3 { animation-delay: 900ms; }
.preloader .line-4 { animation-delay: 1200ms; }
.preloader .line-6 { animation-delay: 1500ms; }

@keyframes opacity-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hero-body {
  padding-top: 2em !important;
}

@media only screen and (max-device-width: 480px) {
  .section-header {
    letter-spacing: 1px;
    font-size: 40px;
  }
}

/* Devices */
.available-devices--row {
  display: flex;
  justify-content: space-around;
}

/* Queue */
.device-queue--row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.car-icon-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
  margin-top: 32px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.car-icon-group {
  margin-right: 32px;
  margin-left: 32px;
}

.car-icon-group img {
  width: 150px;
  height: auto;
}

.car-icon-group div {
  color: white;
  text-align: center;
}

.car-icon-group--disabled {
   opacity: 40%;
}

/* Login and Signup */
.login-signup--title {
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-block;
    padding: 4px 20px;
    text-align: center;
}

.login-signup-form--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color:rgba(0,0,0,0.75);
    border-left: 6px solid #B7D8ED;
    padding: 60px;
}

.login-signup--box input {
    background: #000000;
    color: white;
    border: 1px solid #4998E4;
    border-radius: 0px;
    font-family: "Share Tech Mono";
}

.login-signup--box input:hover {
    background: #000000;
    color: white;
    border: 1px solid #B7D8ED;
    border-radius: 0px;
}

.login-signup--box input:active,
.login-signup--box input:focus {
    border: 1px solid #B7D8ED;
}

.login-signup--box input::-webkit-input-placeholder {
  color: #999 !important;
}

.login-signup--box {
    padding: 1.25rem;
}

.login-signup--box button,
.login-signup--box button:active,
.login-signup--box button:focus {
    border-color: #E15238;
    border-style: solid;
    background-color: #E15238;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px;
}

.login-signup--box button:hover {
  border-color: #E15238;
}

.login-signup--box .checkbox:hover,
.login-signup--box .radio:hover {
    color: white;
    text-shadow: white 0px 0px 10px;
}

.notification-banner {
  border-radius: 0px;
  background-color: #B7D8ED;
  color: black;
  font-family: "Share Tech Mono";
}

 .glitch {
   line-height: 56px;
   color: white;
   font-size: 40px;
   font-family: "Share Tech Mono";
   position: relative;
   width: 400px;
   margin: 0 auto;
}
 @keyframes noise-anim {
   0% {
     clip: rect(25px, 9999px, 51px, 0);
  }
   5% {
     clip: rect(61px, 9999px, 44px, 0);
  }
   10% {
     clip: rect(6px, 9999px, 83px, 0);
  }
   15% {
     clip: rect(14px, 9999px, 12px, 0);
  }
   20% {
     clip: rect(49px, 9999px, 26px, 0);
  }
   25% {
     clip: rect(99px, 9999px, 13px, 0);
  }
   30% {
     clip: rect(99px, 9999px, 55px, 0);
  }
   35% {
     clip: rect(36px, 9999px, 74px, 0);
  }
   40% {
     clip: rect(88px, 9999px, 58px, 0);
  }
   45% {
     clip: rect(51px, 9999px, 15px, 0);
  }
   50% {
     clip: rect(43px, 9999px, 50px, 0);
  }
   55% {
     clip: rect(67px, 9999px, 85px, 0);
  }
   60% {
     clip: rect(49px, 9999px, 1px, 0);
  }
   65% {
     clip: rect(34px, 9999px, 72px, 0);
  }
   70% {
     clip: rect(83px, 9999px, 19px, 0);
  }
   75% {
     clip: rect(5px, 9999px, 30px, 0);
  }
   80% {
     clip: rect(63px, 9999px, 62px, 0);
  }
   85% {
     clip: rect(29px, 9999px, 21px, 0);
  }
   90% {
     clip: rect(26px, 9999px, 47px, 0);
  }
   95% {
     clip: rect(82px, 9999px, 79px, 0);
  }
   100% {
     clip: rect(33px, 9999px, 67px, 0);
  }
}
 .glitch:after {
   content: attr(data-text);
   position: absolute;
   left: 144px;
   text-shadow: -1px 0 #B7D8ED;
   top: 0;
   color: white;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
}

.glitch:hover:after {
  animation: noise-anim 2s infinite linear alternate-reverse;
}
 @keyframes noise-anim-2 {
   0% {
     clip: rect(66px, 9999px, 100px, 0);
  }
   5% {
     clip: rect(1px, 9999px, 91px, 0);
  }
   10% {
     clip: rect(99px, 9999px, 50px, 0);
  }
   15% {
     clip: rect(14px, 9999px, 62px, 0);
  }
   20% {
     clip: rect(56px, 9999px, 66px, 0);
  }
   25% {
     clip: rect(83px, 9999px, 73px, 0);
  }
   30% {
     clip: rect(20px, 9999px, 22px, 0);
  }
   35% {
     clip: rect(92px, 9999px, 71px, 0);
  }
   40% {
     clip: rect(37px, 9999px, 49px, 0);
  }
   45% {
     clip: rect(56px, 9999px, 56px, 0);
  }
   50% {
     clip: rect(57px, 9999px, 30px, 0);
  }
   55% {
     clip: rect(76px, 9999px, 66px, 0);
  }
   60% {
     clip: rect(2px, 9999px, 63px, 0);
  }
   65% {
     clip: rect(5px, 9999px, 39px, 0);
  }
   70% {
     clip: rect(81px, 9999px, 55px, 0);
  }
   75% {
     clip: rect(90px, 9999px, 6px, 0);
  }
   80% {
     clip: rect(55px, 9999px, 12px, 0);
  }
   85% {
     clip: rect(7px, 9999px, 1px, 0);
  }
   90% {
     clip: rect(11px, 9999px, 38px, 0);
  }
   95% {
     clip: rect(74px, 9999px, 99px, 0);
  }
   100% {
     clip: rect(26px, 9999px, 23px, 0);
  }
}
 .glitch:before {
   content: attr(data-text);
   position: absolute;
   left: 142px;
   text-shadow: 1px 0 #4998E4;
   top: 0;
   color: white;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
}

.glitch:hover:before {
  animation: noise-anim-2 3s infinite linear alternate-reverse;

}

/* Other forms */
.form-section button {
    border-color: #4998E4;
    border-style: solid;
    background-color: #4998E4;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px;
}

.form-section button:hover {
  background-color: #B7D8ED;
  border-color: #B7D8ED;
}

.form-section input, .form-section button {
  width: 400px !important;
}

.form-section textarea {
  width: 600px !important;
  min-width: 600px !important;

}

.queue-table--row {
  color: white;
}

thead.queue-table--row td {
  color: #4998E4 !important;
}


.form-section textarea, .form-section input {
    background: #000000;
    color: white;
    border: 1px solid #4998E4;
    border-radius: 0px;
    font-family: "Share Tech Mono";
}

.form-section textarea:hover, .form-section input {
    background: #000000;
    color: white;
    border: 1px solid #B7D8ED;
    border-radius: 0px;
}

.form-section textarea:active,
.form-section textarea:focus,
.form-section input:active,
.form-section input:focus {
    border: 1px solid #B7D8ED;
}

.form-section textarea::-webkit-input-placeholder,
.form-section input::-webkit-input-placeholder {
  color: #999 !important;
}


.tab-space {
  margin-left: 16px;
}

.twitch-streams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 16px;
}

.twitch-stream {
  padding: 1em;
}

.twitch-stream iframe {
}

/* table and mobile */
@media only screen and (max-device-width: 1024px) {
  .twitch-streams {
    display: block;
  }

  .twitch-streams iframe {
    width: 100% !important;
  }
}

/* Queue */

.device-queue {
  margin: 16px 16px 32px 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #B7D8ED;
  min-width: 300px;
  min-height: 180px;
}

.queue-header {
  display: flex;
  justify-content: flex-end;
}

.queue-header .queue-header--name {
  display: flex;
  color: #000000;
  padding: 4px 12px 4px 4px;
  background-color: #B7D8ED;
}

.queue-header--corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 32px 0;
  border-color: transparent #B7D8ED transparent transparent;
}

.queue-content {
    padding: 32px;
}

.queue-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.queue-content .queue-text {
  color: white;
}

.queue-content input[type="submit"],
.queue-content input[type="submit"]:active,
.queue-content input[type="submit"]:focus {
    border-color: #E15238;
    border-style: solid;
    background-color: #E15238;
    padding: 8px;
    margin-top: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px;
    font-family: "Share Tech Mono";
    color: white;
    font-size: 20px;
}

.queue-content input[type="submit"]:hover {
  border-color: #4998E4;
  border-style: solid;
  background-color: #4998E4;
}

.draw:hover {
  overflow: hidden;
  position: relative;
}

.draw:hover::before, .draw:hover::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.draw:hover::before {
  top: 0;
  left: 0;
  border-top-color: #B7D8ED;
  border-right-color: #B7D8ED;
  animation: border 4s infinite;
}
.draw:hover::after {
  bottom: 0;
  right: 0;
  animation: border 4s 2s infinite, borderColor 4s 2s infinite;
}

@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes borderColor {
  0% {
    border-bottom-color: #B7D8ED;
    border-left-color: #B7D8ED;
  }
  50% {
    border-bottom-color: #B7D8ED;
    border-left-color: #B7D8ED;
  }
  51% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}


.logo-image {
  max-width: 20%;
  min-width: 20%;
  height: auto;
  min-height: auto;
}

@media only screen and (max-device-width: 480px) {
  .logo-image {
    max-width: 70%;
    min-width: 70%;
    height: auto;
    min-height: auto;
  }
}



/* Devices */


.available-device {
  margin: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #4998E4;
  color: white;
}

.available-device-header {
  display: flex;
  justify-content: flex-end;
}

.available-device-header .available-device-header--name {
  display: flex;
  color: #000000;
  padding: 4px 12px 4px 4px;
  background-color: #4998E4;
}

.available-device-header--corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 32px 0;
  border-color: transparent #4998E4 transparent transparent;
}

.available-device-content {
    padding: 0px 32px 32px 32px;
    min-width: 500px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-device-width: 480px) {
  .available-device {
    max-width: 90%;
    margin: 16px 0px;
  }

  .available-device-content {
      padding: 16px;
      min-width: unset;
  }
}

.available-device-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.available-device-content .queue-text {
  color: white;
}

.device-loading {
  text-align: center;
  margin-top: 16px;
}
