{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if messages %}
      <div class="notification notification-banner">
        {{ messages }}
      </div>
    {% end %}
    <div class="content">
      <div class="section-header">Enable/Disable Queues</div>
      {% if queues %}
      <table class="queue-table">
        <thead class="queue-table--row">
          <tr>
            <td>Queue name</td>
            <td>Enabled?</td>
            <td># of users in queue</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        {% for queue in queues %}
          <tr class="form-section queue-table--row">
            <td>{{queue.name}}</td>
            <td>{{queue.enabled}}</td>
            <td>
                {{queue[2]}}
            </td>
            <td>
              <form method="POST" action="/admin">
                  <input hidden type="text" name="queue" value={{queue.id}}>
                  <input hidden name="type" value="toggleQueue">
                  <button class="button is-block is-fullwidth">Toggle Queue</button>
              </form>
            </td>
          </tr>
        {% end %}
      </tbody>
      </table>
      {% end %}
    </div>
    <div class="breaker-line"></div>
    <div class="content">
      <div class="section-header">Add Device Type</div>
      <div class="form-section">
        <form method="POST" action="/admin">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Device type" autofocus="">
                </div>
            </div>
            <input hidden name="type" value="addDeviceType">
            <button class="button is-block is-fullwidth">Add New Device Type</button>
        </form>
      </div>
    </div>
    <div class="breaker-line"></div>
    <div class="content">
      <div class="section-header">Add Device</div>
      <div class="form-section">
        <form method="POST" action="/admin">
          <div class="field">
             <div class="control">
                <input class="input" type="text" name="device_type" placeholder="Device type" autofocus="">
             </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="device_info" placeholder="Copy/paste raspberry pi config here"></textarea>
            </div>
          </div>
          <input hidden name="type" value="addDevice">
          <button class="button is-block is-fullwidth">Create Device</button>
        </form>
      </div>
    </div>
    <div class="breaker-line"></div>
    <div class="content">
      <div class="section-header">Add Admin</div>
      <div class="form-section">
        <form method="POST" action="/admin">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" name="password" placeholder="Password">
                </div>
            </div>
            <input hidden name="type" value="addAdmin">
            <button class="button is-block is-fullwidth">Create Admin</button>
        </form>
      </div>
    </div>
    <div class="breaker-line"></div>
    <div class="content">
      <div class="section-header">Change Device Password</div>
      <div class="form-section">
        <form method="POST" action="/admin">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Device name" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" name="password" placeholder="New password">
                </div>
            </div>
            <input hidden name="type" value="changeDevicePassword">
            <button class="button is-block is-fullwidth">Change Device Password</button>
        </form>
      </div>
    </div> 
    <div class="breaker-line"></div>
    <div class="content">
      <div class="section-header">Remove Device</div>
      <div class="form-section">
        <form method="POST" action="/admin">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="device" placeholder="Device name" autofocus="">
                </div>
            </div>
            <input hidden name="type" value="rmDevice">
            <button class="button is-block is-fullwidth">Remove Device</button>
        </form>
      </div>
    </div>
    <div class="breaker-line"></div> 
    <div class="content">
      <div class="section-header">Kill Session</div>
      <div class="form-section">
        <form method="POST" action="/admin">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="device" placeholder="Device Name" autofocus="">
                </div>
            </div>
            <input hidden name="type" value="killSession">
            <button class="button is-block is-fullwidth">Kill Session</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% end %}

