<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Hacking Village</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@800&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="{{ static_url('styles/term.css') }}">

    {% block head %}{% end %}
</head>

<body>
<section class="hero is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://www.carhackingvillage.com/">
                        <img src="{{ static_url('styles/CHVlogosmall.png')}}">
                    </a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ reverse_url('main') }}" class="navbar-item">
                            Home
                        </a>
                        <a href="https://www.carhackingvillage.com/getting-started" class="navbar-item">
                            Tutorial
                        </a>
                        <a href="https://ctf.carhackingvillage.com/" class="navbar-item">
                            CTF
                        </a>

                        {% if not current_user %}
                            <a href="{{ '/login' or reverse_url('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ '/signup' or reverse_url('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                        {% end %}

                        {% if current_user %}
                            {% if 'adminuser' in globals() and adminuser %}
                            	<a href="{{ '/admin' }}" class="navbar-item">
                                	Admin Tools
                            	</a>
                        	{% end %}
                            <a href="{{ '/logout' or reverse_url('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                        {% end %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        {% block content %}{% end %}
    </div>
</section>

{% block scripts %}{% end %}
</body>
</html>
