{% block head %}
	<title>{{ error }}</title>
      <style>
        body {
            background-color: #10041e;
        }
        .error-page {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .error-text {
            font-family: 'Share Tech Mono', monospace;
            color: white;
            font-size: 100px;
        }
      </style>
{% end %}

{% block content %}
    <div class="error-page">
      <div class="error-text">
        {{error}}
      </div>
    </div>
{% end %}

{% block scripts %}
{% end %}
