{% extends "base.html" %}

{% block head %}
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div id="stream-1" class="column"></div>
            <div id="stream-2" class="column"></div>
            <div id="stream-3" class="column"> </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
    let player1 = new Twitch.Player("stream-1", {
        width: 400,
        height: 300,
        channel: "carhackingvillage"
    });
    let player2 = new Twitch.Player("stream-2", {
        width: 400,
        height: 300,
        channel: "carhackingvillage2"
    });
    let player3 = new Twitch.Player("stream-3", {
        width: 400,
        height: 300,
        channel: "carhackingvillage3"
    });

</script>
{% endblock %}