{% extends "base.html" %}

{% block head %}

<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<script src="{{ static_url('js/term.js') }}"></script>
{% end %}

{% block content %}
    <div class="container">
        <div id="devices" class="content">
        {% if devices %}
            <div class="section-header">Devices available</div>
            <div class="available-devices--row">
                {% for device in devices %}
                <div class="available-device" id="device_{{ device['name'] }}">
                    <div class="available-device-header">
                      <div class="available-device-header--corner"></div>
                      <div class="available-device-header--name">Device 1</div>
                    </div>
                    <div class="available-device-content">
                        <div>
                          <div>Your device is ready!  Connect to it using:</div>
                          <div class="tab-space">${{ device['sshAddr'] }}</div>
                          <br>
                          <div>Or visit it at <a href="{{ device['webUrl'] }}">{{ device['webUrl'] }}</a></div>
                        </div>
                        <div>Check out the tutorial <a href="https://www.carhackingvillage.com/getting-started">here</a>.</div>
                    </div>
                </div>
                {% end %}
            </div>
        {% else %}
            <div class="section-header">Devices available</div>
            <div class="available-devices--row">
              {% if not current_user %}
                  <div class="not-found">Please login to view available devices.  </div>
              {% end %}

              {% if current_user %}
                  <div class="not-found">No devices found</div>
              {% end %}
            </div>
        {% end %}
        </div>

        <div class="breaker-line"></div>
        <div class="content">
        {% if queues %}
            <div class="section-header">Join device queue</div>
            <div class="device-queue--row">
                {% for queue in queues %}
                <div class="device-queue">
                    <div class="queue-header">
                      <div class="queue-header--corner"></div>
                      <div class="queue-header--name">{{ queue['name'] }}</div>
                    </div>
                    <div class="queue-content">
                      <form action="/queue/{{ queue['id'] }}" method="POST">
                          <div class="queue-text">
                            <span id="qs_{{ queue['id'] }}">{{ queue['size'] }}</span> currently in queue.
                          </div>
                          <input type="submit" value="Join Queue">
                        </form>
                    </div>
                </div>

                {% end %}
            </div>
        {% else %}
        <div class="section-header">Join device queue</div>
        <div class="available-devices--row">
          {% if not current_user %}
              <div class="not-found">Please login to view available queues. </div>
          {% end %}

          {% if current_user %}
              <div class="not-found">No queues found.</div>
          {% end %}
        </div>
        {% end %}

        </div>

        <div class="breaker-line"></div>

        {% if show_streams %}
        <div class="content">
        <div class="section-header">Live Action</div>
            {% if tstreams %}
                <div class="columns twitch-streams">
                    {% for count in range(len(tstreams)) %}
                        <div id="stream-{{ count }}" class="twitch-stream"></div>
                    {% end %}
                </div>
            {% end %}      
        </div>
        {% end %}

        <div class="tab">
            {% for term in terminals %}
            <button class="tablinks" onclick="openTab(event, '{{term[0]}}')">{{term[0]}}</button>
            {% end %}
        </div>

        {% for term in terminals %}
        <div id="{{term[0]}}" class="tabcontent">
            <iframe  id="{{ term[0] }}-frame" src="{{term[1]}}" style="height:100%;width:100%;"></iframe>
        </div>
        {% end %}
    </div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/queue.js') }}"></script>
<script type="text/javascript">
{% for count in range(len(tstreams)) %}
let player{{count}} = new Twitch.Player("stream-{{count}}", {
        width: 360,
        height: 280,
        channel: "{{tstreams[count]}}"
    });
{% end %}
</script>
{% end %}

